.header{
margin-left: 39vw;
margin-top: 100px;
    margin-bottom: 40px;
}
.listOfUsers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.userPlate{
    display: flex;
    border: 1px solid gray;
    padding: 24px 12px;
    width: 400px;
    margin: 12px;
    background-color: whitesmoke;
}
.avatar{
    align-self: flex-start;
}
.info{
    display: flex;
    flex-direction: column;

}
.name{
    font-weight: bold;
    font-size: 24px;
}
.infoField{
    margin-left: 10px;
    padding-bottom: 10px;
}